# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars
'name': 'DLV'
'fileTypes': [
  "dlv"
]
'patterns': [
  {
    'name': 'comment.line.percentage.dlv'
    'match': '(\%.+)'
  }
]
'scopeName': 'source.dlv'
'repository':
  'comment':
    'captures':
    'match': '((#).+)'
      '1':
        'name': 'comment.line.number-sign.generic-config'
      '2':
        'name': 'punctuation.definition.comment.generic-config'
