# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'source.dlv'
'name': 'language-dlv'
'fileTypes': [
  'dlv'
]
'patterns': [
  {
    'name': 'comment'
    'match': '/\%/'
  },
  {
    'name': 'literal'
    'match': '/[\w]+\(/'
  }
]
